<!DOCTYPE HTML>
<html>
<head>
    <title>DougDoug Multi-Agent GPT Characters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-textfill@0.6.0/source/jquery.textfill.min.js"></script>
    <script type="module" src="static/js/multiAgent.js" defer></script>
</head>
<body>
    <div id="main-container">
        <div id="agent-container-1" class="agent-container">
            <div id="agent-text-1" class="agent-text">Agent 1 Text will be here!</div>
        </div>
        <div id="agent-container-2" class="agent-container">
            <div id="agent-text-2" class="agent-text">Agent 2 Text will be here!</div>
        </div>
        <div id="agent-container-3" class="agent-container">
            <div id="agent-text-3" class="agent-text">Agent 3 Text will be here!</div>
        </div>
    </div>
</body>
</html>